body  {
    margin: 0;
    padding: 0;
    background-color: rgb(121, 91, 51);
}
ul {
    list-style: none;
    text-align: center;
}
li {
    display: inline-block;
    background-color: aliceblue;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 16px;
}
h1 {
    margin-left: 20px;
}
a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


img {
    width: 130px;
    height: 150px;
    margin: 10px;
   
}
main {
    text-align: center;
}

section {
    text-align: center;
    margin-top: 200px;
}

#maps {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    font-size: 30px;
    padding: 10px 30px;
 
    text-align: center;
   

}

#homep {
    background-color: yellowgreen;
}

#locy {
    background-color: yellowgreen;
}

#con {
    background-color: yellowgreen;
}

li:hover {
    background-color: rgb(234, 234, 234);
}