ul {
    list-style-type: none;
    display: flex;
    margin-top: 50px;
    background-color: aqua;
    padding: 0;
    text-align: center;
    
    align-items: center;
}


header {
    display: flex;
}

li  {
    
    text-align: center;
    

}

h1 {
    margin-left: 100px;
}

#selection {
    background-color: gray;
    padding: 20px 30px 20px 0;
    width: 100px;
    display: none;
    position: absolute;
    
    
}

section {
    display: block;
    margin-left: 30px;
    
}
#lima {
    margin-top: 12px;
    margin-bottom:12px;
}

#dropdown:hover #selection {
display: block;
position: fixed;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#dropdown {
    cursor: pointer;
    position: relative;
    
    margin-left: 20px;
    margin-right: 20px;
}

#selection {
    transition: 0.3s;
}

#hey {
    background-color: aquamarine;
    display: block
}
