body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: baseline;
    
}

h1 {
    font-weight: normal;
    margin-left: 130px;
    font-size: 25px;
    white-space: nowrap;

}

ul {
    list-style: none;
    display: flex;
    margin-left: 260px;
    font-size: 20px;
}




li {
    margin-left: 50px;
    margin-right: 70px;
  
}

#Home {
    transition: transform 0.3s;
}

#Services {
    transition: transform 0.3s;
}

#Portfolio {
    transition: transform 0.3s;
}

#Contact {
    transition: transform 0.3s;
}

#Home:hover {
    transform: scale(1.2);
}
#Services:hover {
    transform: scale(1.2);
}
#Portfolio:hover {
    transform: scale(1.2);
}
#Contact:hover {
    transform: scale(1.2);
}

header {
    margin-top: 3px;
}

#whiteline {
    background-color: white;
    height: 2px;
    width: 550px;
    flex-grow: 2;
    
}

#menu-icon {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    
  }
  
  .line {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: transform 0.3s ease;
  }
  
  .line-1 {
    top: 0;
    transition: transform 0.3s;
  }
  
  .line-2 {
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s;
  }
  
  .line-3 {
    bottom: 0;
    transition: transform 0.3s;
  }
  
  .menu-open .line-1 {
    transform: translateY(50%) rotate(45deg);
    top: 13px;
  

  }
  
  .menu-open .line-2 {
    opacity: 0;
  }
  
  .menu-open .line-3 {
    transform: translateY(-50%) rotate(-45deg);
    bottom: 13px;
    
  }
  